@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
}

#root {
  max-width: 1251px;
  margin: 0 auto;
}

body {
  background-color: lightgray;
}

@media (max-width: 1260px) {
  #root {
    padding: 0 12px;
  }
}