@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
}

#root {
  max-width: 1251px;
  margin: 0 auto;
}

body {
  /* background-color: lightgray; */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media (max-width: 1260px) {
  #root {
    padding: 0 12px;
  }
}